@CHARSET "UTF-8";

.table-tr-td4{
	width: 4%;
}
.table-tr-td5{
	width: 5%;
}
.table-tr-td6{
	width: 6%;
}
.table-tr-td7{
	width: 7%;
}
.table-tr-td8{
	width: 8%;
}
.table-tr-td9{
	width: 9%;
}
.table-tr-td10{
	width: 10%;
}
.table-tr-td15{
	width: 15%;
}
.table-tr-td20{
	width: 20%;
}
.table-tr-td25{
	width: 25%;
}
.table-tr-td30{
	width: 30%;
}
