<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.lzt.mapper.RolerightMapper">

	<!-- 根据角色id删除角色绑定的菜单 -->
	<delete id="deleteByRoleid" parameterType="int">
		DELETE FROM t_roleright WHERE roleid=#{roleid}
	</delete>
	
	<!-- 保存菜单和角色的关系 -->
	<insert id="addRoleright">
		INSERT INTO t_roleright(roleid,menuid,createuserid,createdate)
		VALUES
		<foreach collection="menuids" item="menuid" separator=",">
			(#{roleid},#{menuid},#{userid},NOW())
		</foreach>
	</insert>
	
</mapper>