<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.lzt.mapper.SysMenuMapper">

	<!-- 菜单查询 -->
	<select id="findMenus" resultType="SysMenuReq">
		<!-- querytype(0：菜单导航查询，1：菜单管理查询，2：菜单角色查询) -->
		SELECT sm.*
		<if test="querytype != 2">
			FROM t_sysmenu sm
			<!-- 非超级管理员，需要根据用户权限查询菜单 -->
			<if test="roleid != 1">
				INNER JOIN t_roleright rm ON sm.id=rm.menuid
				INNER JOIN
				t_role r ON r.id=rm.roleid
				INNER JOIN t_userrole ur ON ur.roleid=r.id
				INNER JOIN t_sysuser u ON u.id=ur.userid
				WHERE u.id = #{userid}
				AND
				sm.isused = 0
			</if>
			<!-- 0：菜单导航查询，1：菜单管理查询 -->
			<if test="querytype == 0">
				<if test="roleid != 1">
					AND sm.parentid != 0
				</if>
				<if test="roleid == 1">
					WHERE sm.parentid != 0
				</if>
			</if>
		</if>
		<if test="querytype == 2">
			<if test="roleid != null">
				,t.menuid checkedid
			</if>
			FROM t_sysmenu sm
			<if test="roleid != null">
				LEFT JOIN (
					SELECT rm.menuid FROM t_roleright rm INNER JOIN t_role r ON rm.roleid=r.id
					WHERE roleid = #{roleid}
				) t
				ON sm.id=t.menuid
			</if>
		</if>
		ORDER BY -sortlevel DESC
	</select>

	<!-- 根据菜单id查询菜单 -->
	<select id="findById" parameterType="int" resultType="SysMenu">
		SELECT * FROM t_sysmenu WHERE id=#{id}
	</select>

	<!-- 新增菜单 -->
	<insert id="add" parameterType="SysMenu" useGeneratedKeys="true"
		keyProperty="id">
		INSERT INTO t_sysmenu (parentid, menuname, menuurl,
		menuimg, sortnum,
		sortlevel, isused, menulevel, parentflag, createdate)
		VALUES (#{parentid},
		#{menuname}, #{menuurl}, #{menuimg}, #{sortnum},
		#{sortlevel}, #{isused}, #{menulevel}, 0, NOW())
	</insert>

	<!-- 修改菜单 -->
	<update id="update" parameterType="SysMenu">
		UPDATE t_sysmenu
		<set>
			<if test="parentid != null">
				parentid = #{parentid},
			</if>
			<if test="menuname != null">
				menuname = #{menuname},
			</if>
			<if test="menuurl != null">
				menuurl = #{menuurl},
			</if>
			<if test="menuimg != null">
				menuimg = #{menuimg},
			</if>
			<if test="sortnum != null">
				sortnum = #{sortnum},
			</if>
			<if test="sortlevel != null">
				sortlevel = #{sortlevel},
			</if>
			<if test="isused != null">
				isused = #{isused},
			</if>
			<if test="menulevel != null">
				menulevel = #{menulevel},
			</if>
			<if test="parentflag != null">
				parentflag = #{parentflag},
			</if>
		</set>
		WHERE id = #{id}
	</update>

	<!-- 根据菜单id查询父级菜单是否有子节点 -->
	<select id="findMenuIsparent" parameterType="int" resultType="int">
		SELECT COUNT(1) FROM t_sysmenu WHERE parentid = (SELECT parentid FROM
		t_sysmenu WHERE id=#{id}) AND id!=#{id}
	</select>

	<!-- 修改菜单排序深度 -->
	<update id="updateMenuSortlevel">
		UPDATE t_sysmenu SET
		sortlevel=CONCAT(REPLACE(SUBSTRING(sortlevel,1,LENGTH(#{preParSortlevel})),#{preParSortlevel},#{parSortlevel}),SUBSTRING(sortlevel,LENGTH(#{preParSortlevel})+1))
	</update>
	
	<!-- 修改菜单深度 -->
	<update id="updateMenuLevel">
		UPDATE t_sysmenu SET menulevel=REPLACE(menulevel,#{preMenuLevel},#{menuLevel})
	</update>

	<!-- 删除菜单 -->
	<delete id="deleteMenu" parameterType="string">
		DELETE FROM t_sysmenu
		WHERE menulevel LIKE "%"#{menulevel}"%"
	</delete>

	<!-- 查询菜单图片项 -->
	<select id="findMenuImgs" resultType="java.util.HashMap">
		SELECT c.codename,codeimg
		FROM t_codeinfo c
	</select>

</mapper>