<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.lzt.mapper.SysUserMapper">

	<!-- 根据登录账号查询用户 -->
	<select id="findUserByLoginId" parameterType="string" resultType="SysUser">
		SELECT * FROM t_sysuser WHERE loginid = #{loginid}
	</select>

	<!-- 根据用户ID查询用户 -->
	<select id="findUserById" parameterType="int" resultType="SysUserDto">
		SELECT su.*,ur.roleid FROM t_sysuser su INNER JOIN t_userrole ur ON su.id=ur.userid WHERE su.id=#{id}
	</select>
	
	<!-- 新增用户 -->
	<insert id="add" parameterType="SysUser" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO t_sysuser(loginid,pwd,username,email,sex,telno,createdate)
		VALUES(#{loginid},#{pwd},#{username},#{email},#{sex},#{telno},NOW())
	</insert>

	<!-- 删除用户 -->
	<delete id="deleteById" parameterType="int">
		DELETE FROM t_sysuser WHERE id = #{id}
	</delete>

	<!-- 批量删除用户 -->
	<delete id="batchdeleteuser" parameterType="string">
		DELETE FROM t_sysuser WHERE id IN
		<foreach collection="array" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<!-- 修改用户 -->
	<update id="update" parameterType="SysUser">
		UPDATE t_sysuser
		<set>
			<if test="username !=null and username !=''">
				username=#{username},
			</if>
			<if test="email !=null and email !=''">
				email=#{email},
			</if>
			<if test="sex !=null and sex !=''">
				sex=#{sex},
			</if>
			<if test="telno !=null and telno !=''">
				telno=#{telno},
			</if>
			<if test="pwd !=null and pwd !=''">
				pwd=#{pwd},
			</if>
		</set>
		WHERE id = #{id}
	</update>
	
	<!-- 系统用户列表查询 -->
	<select id="findSysUsers" parameterType="SysUserDto" resultType="java.util.HashMap">
		SELECT u.*,r.rolename
		FROM t_sysuser u INNER JOIN 
		(SELECT userid,roleid FROM t_userrole) ur ON u.id=ur.userid 
		INNER JOIN
		(SELECT id,rolename FROM t_role) r ON ur.roleid=r.id
		<where>
			u.isdel = 0
			<if test="username !=null and username !=''">
				and u.username like "%"#{username}"%"
			</if>
			<if test="sex !=null and sex !=''">
				and u.sex=#{sex}
			</if>
			<if test="roleid !=null and roleid !=''">
				and r.id=#{roleid}
			</if>
			<if test="startdate !=null and startdate !=''">
				<![CDATA[
					and DATE_FORMAT(u.createdate, '%Y-%m-%d')>=#{startdate}
				]]>
			</if>
			<if test="enddate !=null and enddate !=''">
				<![CDATA[
					and DATE_FORMAT(u.createdate, '%Y-%m-%d')<=#{enddate}
				]]>
			</if>
		</where>
		ORDER BY CONCAT('u.',${sortcolumn}) ${sorttype}
	</select>

</mapper>