<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.lzt.mapper.UserRoleMapper">

	<!-- 保存用户和角色的关系 -->
	<insert id="add" parameterType="UserRole">
		INSERT INTO t_userrole (userid,roleid,createuserid,createdate)
		values (#{userid},#{roleid},#{userid},NOW())
	</insert>
	
	<!-- 删除用户和角色的关系 -->
	<delete id="deleteByUserid">
		DELETE FROM t_userrole WHERE userid = #{userid}
	</delete>
	
	<!-- 批量删除用户和角色的关系 -->
	<delete id="batchdeleteByUserid" parameterType="string">
		DELETE FROM t_userrole WHERE userid IN
		<foreach collection="array" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	
	<!-- 根据用户ID查询用户角色 -->
	<select id="findByUserid" parameterType="int" resultType="UserRole">
		SELECT * FROM t_userrole WHERE userid = #{userid}
	</select>
	
	<!-- 根据用户ID修改用户角色 -->
	<update id="updateUserRoleById">
		UPDATE t_userrole SET roleid = #{roleid} WHERE userid = #{userid}
	</update>
	
</mapper>